<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/home.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div>

            <span class="logo_name"> <a href="/admin/home" class="norm-link">BookMart</a></span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/home">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="/admin/users">
                    <i class="uil uil-user"></i>
                    <span class="link-name">Users</span>
                </a></li>
                <li><a href="/admin/categories">
                    <i class="uil uil-file"></i>
                    <span class="link-name">Categories</span>
                </a></li>
                <li><a href="/admin/products">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Products</span>
                </a></li>
                <li><a href="/admin/banners">
                    <i class="uil uil-clipboard-blank"></i>
                    <span class="link-name">Banners</span>
                </a></li>
                <li><a href="/admin/coupons">
                    <i class="uil uil-clipboard-blank"></i>
                    <span class="link-name">Coupons</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/admin/logout">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="images/profile.jpg" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Coupon Details</span>
                </div>

                <div>
                    <section>
                        <div class="table-responsive">
                            <div class="table-wrapper" style="border-radius: 10px;">
                                <div class="table-title">
                                    <div class="row">
                                      <div class="col-sm-4">
                                          <button type="button" class="btn btn-primary add-new my-3"><i class="fa fa-plus"></i>
                                              <a href="/admin/newCoupon" style="text-decoration: none; color: white;">Add New Coupon</a>
                                          </button>
                                      </div>
                                    </div>
                                  </div>
                                <table id="userTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SI No</th>
                                            <th>Name</th>
                                            <th>Coupon code</th>
                                            <th>Discount precentage</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1; coupons.forEach((coupons)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= count %>
                                                </td>
                                                <td>
                                                    <%= coupons.name %>
                                                </td>
                                                <td>
                                                    <%= coupons.couponCode%>
                                                </td>
                                                <td>
                                                    <%= coupons.discountPercentage %> 
                                                <td>
                                                    <a href="/admin/editCoupon?id=<%= coupons._id %>"
                                                        class="btn btn-warning m-2">Edit</a>
                                                    <br>
                                                    <% if(!coupons.blockStatus){ %> 
                                                        <a href="/admin/bStatusCoupon?id=<%= coupons._id %>"><button class="btn btn-danger m-2" onclick="return confirm('Are you sure you want to block the coupon <%= coupons.name %>')">Block</button></a>
                                                    <% }else{ %> 
                                                        <a href="/admin/bStatusCoupon?id=<%= coupons._id %>"><button class="btn btn-danger m-2" onclick="return confirm('Are you sure you want to unblock the coupon <%= coupons.name %>')">Unblock</button></a>
                                                    <% } %> 
                                                </td>
                                            </tr>
                                            <% count++ }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#userTable").dataTable();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/home.js"></script>
</body>

</html>